body {
    margin: 0px;
    background-image:url(http://www.wallsave.com/wallpapers/1920x1080/blur/110940/blur-sunset-mountain-minimal-110940.jpg);
    background-size: 1500


}

#navbar {


    background-color: rgba( 0, 0, 0, 0.3);
    height: 50px;
    width: 100%;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.4);
    z-index: 1000;
    position: fixed;
}

#main {
    font-family: Quicksand, "Myriad Pro", Myriad, Futura, Helvetica, sans-serif;
}

#account {
    position: relative;
    float: right;
    margin: -37px 5% 0 50px;
    height: 26px;
    width: 70px;
    border: 1px solid rgba(255,255,255, 0.8);
    -webkit-border-radius: 5px;
    border-radius: 5px;

    color: white;
    font-weight: 600;
    font-size: 11pt;
    padding-top: 10px;
    padding-left: 10px;

}

#account:hover {
    position: relative;
    float: right;
    margin: -37px 5% 0 50px;
    height: 26px;
    width: 70px;
    border: 1px solid rgba(255,255,255, 0.8);
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3bc3f1), color-stop(1, #0097d7) );
    background:-moz-linear-gradient( center top, #3bc3f1 5%, #0097d7 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3bc3f1', endColorstr='#0097d7');
    background-color:#3bc3f1;

    color: white;
    font-weight: 600;
    font-size: 11pt;
    padding-top: 10px;
    padding-left: 10px;

}

div.body {
    position: relative;

    margin: 6px 0 0 5%;
    height: 36px;
    width: 80px;
    border-top: 1px solid rgba(255,255,255, 0.8);
    border-bottom: 1px solid rgba(255,255,255, 0.8);
    border-right:  1px solid rgba(255,255,255, 0.8);
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: ;
}

div.body div {
    position: absolute;
    z-index: 1;
    top: 7px;
    left: -9px;
    -webkit-transform: rotate(51deg);
}
div.body span {
    -webkit-transform: skew(15deg);
    display: block;
    width: 22px;
    height: 22px;
    background:
        -webkit-border-radius: 1px;
    border-radius: 1px;
    border: 1px solid rgba(255,255,255, 0.8);
    border-right: 0;
    border-top: 0;
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255, 0.25);
}


.screentitle {
    margin-top: 130px;
    display: block;
    color:#3bc5f1;
    font-size:20px;
    font-weight:600;
    opacity: 0.9;

}

.field {
    display: block;
    margin-top: 50px;
    border: 1px solid #c4c4c4;
    padding-top:23;
    padding-bottom: 20px;
    width: 90%;
    max-width: 400px;
    min-width: 20%;
    background: #fff;


    -webkit-border-radius: 4px;
    border-radius: 4px;
    color: #747474;
    font-size:20px;
    font-weight:200;
}

.field:hover {
    border: 1px solid #00afec;
    background: #fff;
    background:
        -webkit-appearance: none;
    box-shadow: 0 0 5px rgba(59, 197, 241, 1);
    -webkit-box-shadow: 0 0 5px rgba(59, 197, 241, 1);
    -moz-box-shadow: 0 0 5px rgba(59, 197, 241, 1);
}


.button {
    margin-top:100px;
    margin-left: 5%;;
    margin-right: 5%;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3bc3f1), color-stop(1, #0097d7) );
    background:-moz-linear-gradient( center top, #3bc3f1 5%, #0097d7 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3bc3f1', endColorstr='#0097d7');
    background-color:#3bc3f1;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    border:1px solid #3bc3f1;
    border-bottom: 2px solid #3bc3f1 ;
    display:inline-block;
    color:#ffffff;
    font-size:20px;
    font-weight:700;
    padding-top:25px;
    padding-bottom:22px;
    width: 90%; max-width: 400px; min-width: 20%;
    text-decoration:none;
    opacity: 0.9;
}.button:hover {

     background:#3bc5f1;

 }.button:active {
      position:relative;
      top:2px;
      opacity: 0.5;
  }

.screensubtitle {
    margin-top: 20px;
    display: inline-block;
    color:#fff;
    font-family: "Myriad Pro", helvetica, sans-serif;
    font-size:20px;
    font-weight:600;
    opacity: 0.9;

}

.screensubtitle a {
    margin-top: 20px;
    display: inline-block;
    color:#fff;
    font-size:20px;
    font-weight:600;
    opacity: 0.9 !important;

}
/* This imageless css button was generated by CSSButtonGenerator.com */